# ==============================
# Backend - Java / Spring Boot
# ==============================

portal-solicitacoes/target/
portal-solicitacoes/.idea/
portal-solicitacoes/*.iml

# ==============================
# Frontend - Angular / Node
# ==============================

portal-solicitacoes-frontend/node_modules/
portal-solicitacoes-frontend/.angular/
portal-solicitacoes-frontend/dist/
portal-solicitacoes-frontend/.cache/

# ==============================
# IDE / VS Code
# ==============================

.vscode/
*.code-workspace

# ==============================
# Sistema operacional
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================

*.log
npm-debug.log*